base:
    today: 'Dnes'
    tomorrow: 'Zítra'

landing:
    planDay: 'Naplánuj si den!'
    chooseStart: 'Začni tím, že si vybereš, odkud vyrazíš'
    typeAddress: 'Napiš adresu'
    startPlanning: 'Začni plánovat'
    seeHow: 'Jak to funguje'
    features: 'Funkce'
    feature1: 'Jednoduché plánování'
    featureDescription1: 'Stačí vložit všechna místa, která chceš navštívit'
    feature2: 'Návrhy'
    featureDescription2: 'Získej navrhovaná místa poblíž'
    feature3: 'Responzivní'
    featureDescription3: 'Jednoduché a plně responzivní rozhraní'
    how: 'Jak to funguje'
    how1: 'Vyber začátek cesty'
    howDescription1: 'Napiš adresu místa, ve kterem chceš cestu začít'
    how2: 'Přidej další místa'
    howDescription2: 'Přidej všechna místa, která chceš navštívit'
    how3: 'Získej plán'
    howDescription3: 'Okamžitě získej nejkratší cestu mezi tvými místy'
    partners: 'Partneři'
    copyright: 'Vytvořeno pro UNIT v Brně'

planning:
    chooseCategory: 'Vyberte si kategorii'
    food: 'Restaurace'
    park: 'Parky'
    sport: 'Sport'
    museum: 'Muzea'
    supermarket: 'Obchody'
    suggestions: 'Návrhy'
    map: 'Mapa'
    route: 'Cesta'
    isDelayed: 'Zpoždění'
    addNewPlace: 'Přidej nové místo'
    notFound: 'Místo nenalezeno'
    location: 'Adresa'
    flexible: 'Jsem flexibilní'
    arrivalDate: 'Datum příjezdu'
    arrivalTime: 'Čas příjezdu'
    timeSpent: 'Strávený čas'
    hours: 'Hodiny'
    minutes: 'Minuty'
    optionMinutes: 'minut'
    addPlace: 'Přidat místo'
    discard: 'Zrušit'
    expandAll: 'Rozbalit všechny'
    collapseAll: 'Sbalit všechny'
    routeNotFound: 'Trasa nenalezena'
    onlyWalkingRoute: 'Nalezena jenom pěší trasa'
    export: 'Exportovat'
